.item {
  position: relative;
  text-align: center;
}

.item__title {
  padding-top: 10px;
  font-size: 20px;
}

.item__error {
  position: absolute;
  padding: 5px;
  color: #fff;
  background-color: #f44336;
}

.info {
  margin: 0;
  padding: 0;
}

.pokemon__sprite__info {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  border: none;
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
  width: 200px;
}
